$textColor:white;
$bgColor:rgb(35, 0, 139);

*{  
    font-family: 'Roboto', sans-serif;
  }
body{
    margin: 0;
}
  
nav{
    position: top;
    display: flex;
    justify-content: space-between;
    background-color: $bgColor;
    color: $textColor;
    padding: 10px 50px;
    #nav-left{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    li{ 
        background-color: darken($color: $bgColor, $amount: 6);
        border-radius: 10%;
        padding: 10px;
        list-style: none;
        a{
            text-decoration: none;
            color:$textColor;
        }
    }
}
}