$mainColor:rgb(78, 78, 152);


#quotes {
    padding: 3% 8%;
}

#quote{
    max-width: 600px;
    background-color: 0.85*$mainColor;
}

#cover{
    min-height: 500px;
    background-color: $mainColor;
    color: #fff;
    #myName{
        font-size: 7vw;
    }
    #myDes{
        font-size: 0.4*7vw;
    }
    hr{
        border: 1px solid black;
    }
}

#aboutMe{
    background-color: 2*$mainColor;
}

#skills{
    padding: 3% 8%;
}
footer{
    padding: 3% 0;
    background-color: 0.6*$mainColor;
    color:#fff;
}